<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre cliente</th>
      <th>Rfc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre_cliente %></td>
        <td><%= cliente.rfc %></td>
        <td><%= link_to 'Detalle', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<p>
<%= link_to 'New Cliente', new_cliente_path %>
<%= link_to 'Regresar', '../' %>
</p>