<h1>Bienvenido!</h1>
<hr>
<p>
-<[<%= link_to 'saludo', '/saludo' %>]>-
-<<%= link_to 'cliente', '../clientes' %>]>-
-<<%= link_to 'producto', '../productos' %>]>-
-<<%= link_to 'orden', '../registro_ordens' %>]>-
-<<%= link_to 'Detalle_Orden', '../detalle_ordens' %>]>-
</p>